<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="{{ config['server']['encoding'] }}">
  <title>{% block title %}{{ config['metadata']['identification']['title'] }} -{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="language" content="{{ config['server']['language'] }}">
  <meta name="description" content="{{ config['metadata']['identification']['title'] }}">
  <meta name="keywords" content="{{ config['metadata']['identification']['keywords']|join(',') }}">
  <link rel="shortcut icon" href="{{ config['server']['url'] }}/static/img/favicon.ico" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{{ config['server']['url'] }}/static/css/default.css">
    <!-- Custom styles for this template-->
    <link href="{{ config['server']['url'] }}/static/css/sb.css" rel="stylesheet">
    {% for link in data['links'] %}
      <link rel="{{ link['rel'] }}" type="{{ link['type'] }}" title="{{ link['title'] }}" href="{{ link['href'] }}"/>
      {% if (link['rel']=="self" and link['type']=="text/html") %}
      <link rel="canonical" href="{{ link['href'].split('?')[0] }}" />
      {% endif %}
    {% endfor %}
    {% block extrahead %}
    {% endblock %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color:white"
          href="{{ config['server']['url'] }}" class="logo" role="button">
            <img src="https://raw.githubusercontent.com/internetofwater/geoconnex.us/master/pygeoapi/pygeoapi-skin-dashboard/static/img/logo.png" title="{{ config['metadata']['identification']['title'] }}" style="height:40px;vertical-align: middle;" /></a>
          
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item">
        <a class="nav-link" href="{{ config['server']['url'] }}">
            <i class="fas fa-fw fa-home"></i>
            Home</a>

        </li>
        <!-- Divider -->
        <hr class="sidebar-divider"/>

        <div class="sidebar-heading">
        Resources
        </div>

        <!-- Nav Item -->
        <li class="nav-item">
          <a class="nav-link" href="{{ config['server']['url'] }}/collections">
              <i class="fas fa-fw fa-table"></i>
              Collections</a>
        </li>

        {% if data['stac'] %}
          <!-- Nav Item -->
          <li class="nav-item">
          <a class="nav-link" href="{{ config['server']['url'] }}/stac">
              <i class="fas fa-fw fa-image"></i>
              SpatioTemporal Assets</a>
          </li>
        {% endif %}

        {% if data['processes'] %}
          <!-- Nav Item -->
          <li class="nav-item">
          <a class="nav-link" href="{{ config['server']['url'] }}/processes">
              <i class="fas fa-fw fa-wrench"></i>
            Processes</a>
          </li>
        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
        Documentation
        </div>

        <!-- Nav Item -->
        <li class="nav-item">
        <a class="nav-link" href="{{ config['server']['url'] }}/openapi">
            <i class="fas fa-fw fa-cog"></i>
            API Definition</a>
        </li>

        <!-- Nav Item -->
        <li class="nav-item">
        <a class="nav-link" href="{{ config['server']['url'] }}/conformance">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            Conformance</a>
        </li>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>

                  <div>
                    {% block crumbs %}
                    <a href="{{ config['server']['url'] }}">Home</a>
                    {% endblock %}
                  </div>

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ data['links'] | map(rel='self') | attr('href') }}?f=json">JSON</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ data['links'] | map(rel='self') | attr('href') }}?f=jsonld">JSON-LD</a></li>
                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">

                <!-- Page Heading 
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                          class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>-->

                <!-- Content Row -->
                  {% block body %}
                  {% endblock %}
                </div>
                <!-- End of Main Content -->
                </div>
                <!-- Footer -->
                <footer class="sticky-footer bg-dark">
                  <div class="container my-auto">
                    <div class="my-auto">
                      <div class="row">
                        <div class="col-md-3">
                          <b>Service provided by:</b><br/>
                          <a itemprop="url" href="{{ config['metadata']['provider']['url'] }}">{{ config['metadata']['provider']['name'] }}</a><br/>
                                             
                          <b>Address</b><br/>
                          {{ config['metadata']['contact']['address'] }}<br/>
                          {{ config['metadata']['contact']['city'] }},
                          {{ config['metadata']['contact']['stateorprovince'] }}<br/>
                          {{ config['metadata']['contact']['postalcode'] }}<br/>
                          {{ config['metadata']['contact']['country'] }}
                        </div>
                        <div class="col-md-3">
                          <b>Email</b><br/>
                          <a href="mailto:{{ config['metadata']['contact']['email'] }}">{{ config['metadata']['contact']['email'] }}</a><br/>
                            {% if config['metadata']['contact']['phone'] %}
                              <b>Telephone</b><br/>
                            <a href="tel:{{ config['metadata']['contact']['phone'] }}">{{ config['metadata']['contact']['phone'] }}</a><br/>
                            {% endif %}
                            {% if config['metadata']['contact']['fax'] %}
                              <b>Fax</b><br/>
                            <a href="tel:{{ config['metadata']['contact']['fax'] }}">{{ config['metadata']['contact']['fax'] }}</a><br/>
                            {% endif %}
                            {% if config['metadata']['contact']['url'] %}
                            <b>Web</b><br/>
                            <a href="{{ config['metadata']['contact']['url'] }}">{{ config['metadata']['contact']['url'] }}</a><br/>
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            {% if config['metadata']['contact']['hours'] %}
                            <b>Hours</b><br/>
                            {{ config['metadata']['contact']['hours'] }}<br/>
                            {% endif %}
                            {% if config['metadata']['contact']['instructions'] %}
                              <b>Contact instructions</b><br/>
                              {{ config['metadata']['contact']['instructions'] }}
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if config['metadata']['identification']['terms_of_service'] %}
                            <p> 
                              <b>Terms of service</b><br/>
                              {{ config['metadata']['identification']['terms_of_service'] | urlize() }}
                            </p>
                            {% endif %}
                            {% if config['metadata']['license']['url'] %}
                              <p>
                                <b>License</b><br/>
                                <a href="{{ config['metadata']['license']['url'] }}">
                                {{ config['metadata']['license']['name'] or config['metadata']['license']['url'] }}</a>
                              </p>
                            {% endif %}
                            <p>Powered by <a title="pygeoapi" href="https://pygeoapi.io">pygeoapi</a> {{ version }}.</p>
                        </div>    
                      </div>
                    </div>
                  </div>

                </footer>
                <!-- End of Footer -->
    
      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  


  {% block extrafoot %}
  {% endblock %}
    <script>
      // Requests and embeds JSON-LD representation of current page
      var xhr = new XMLHttpRequest();
      var path = window.location.protocol + "//" + window.location.host + window.location.pathname + "?f=jsonld";
      xhr.open('GET', path);
      xhr.onload = function() {
        if (xhr.status === 200) {
          var head = document.getElementsByTagName('head')[0];
          var jsonld_datablock = document.createElement('script');
          jsonld_datablock.type = "application/ld+json";
          jsonld_datablock.textContent = xhr.responseText;
          head.appendChild(jsonld_datablock);
        }
      };
      xhr.send();
    </script>
  </body>
</html>
